# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Hal\Documents\universidad-de-los-andes\2020-20\proyecto-de-grado\isis-3007-distributed-ledger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
